<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Access Denied - WikiMonitor</title>
    <link th:href="@{/lib/bootstrap-5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/icon.svg}" type="image/svg+xml">
</head>

<body class="d-flex align-items-center justify-content-center vh-100 font-monospace">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger mb-4">403</h1>
        <h2 class="h2 fw-semibold mb-4">Access Denied</h2>
        <p class="text-secondary mb-5 lead">You do not have permission to view this page or your account is pending
            approval.
        </p>
        <div>
            <form class="d-inline" method="post" th:action="@{/logout}">
                <button class="btn btn-secondary btn-lg fw-bold px-4" type="submit">
                    Logout
                </button>
            </form>
        </div>
    </div>
    <script th:src="@{/lib/bootstrap-5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>